version: '3'
services:
    mysqldb:
        container_name: gameserver-mysql
        image: mysql:5.7
        ports:
            - 3306:3306
        networks:
            - pingo_network
            - default
        volumes:
            - ~/storage/docker/mysql:/var/lib/mysql 
        restart: always
        environment:
            MYSQL_DATABASE: gameEngine
            MYSQL_ROOT_PASSWORD: mypassword
            MYSQL_USER: mishabron
            MYSQL_PASSWORD:
    authentication:
        container_name: lotorola-authentication
        image: mbronshteyn/authentication:latest
        environment:
            SPRING_PROFILES_ACTIVE: devdocker
            password: samovar
        ports:
            - 8443:8443
        networks:
            - pingo_network
            - default
        depends_on:
            - mysqldb
    gameserver:
        container_name: lotorola-gameserver
        image: mbronshteyn/gameserver:latest
        environment:
            SPRING_PROFILES_ACTIVE: devdocker
            password: samovar
        ports:
            - 8084:8080
        networks:
            - pingo_network
            - default
        depends_on:
            - mysqldb

networks:
    pingo_network:
        driver: bridge


